
.app-header {
  background-color: #282834;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  padding-right: 50px;
  padding-left: 50px;
}
.app-header h1{
  cursor: pointer;
}
.app-header button{
  background-color: transparent;
  font-size: 20px;
  color: chartreuse;
}

.odot{
  height: 30vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  color: rgb(7, 1, 1);
  padding-top: 20vh;
}
.app-header button{
  background-color: transparent;
  font-size: 20px;
  color: chartreuse;
margin-right: 10px;
}



.page-body{
  background-color: #ffffff;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(129, 8, 8);
}
.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}
.image{
  margin-right: 20px;
}

.about-us{
  background-color:#ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  color: rgb(7, 1, 1);
  padding: 10vh 20vw;
}
.about-us h3{
   text-align: center;
   direction: rtl;
}

.our-details-pics{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
}

.our-details{
  display: flex;
  flex-direction: column;
  align-items: center; 
}
